build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
.vs/
.idea/
.vscode/
*.swp
*.bak
*.a
*.o
*.so
*.dylib
*.dll
*.exe
